p {
    font-family: Verdana, sans-serif;
    font-size: 21px;
    color: gray;
}

a {
    font-size: 16px;
    color: aquamarine;
}

h1 {
    
    font-family: Verdana, sans-serif;
    font-size: 50px;
    font-weight: normal;
    color: white;
}

h2 {
    font-family: Verdana, sans-serif;
    font-size: 42px;
    font-weight: 300;
    color: white;
}

footer {
    text-align: right;
    color: gray;
}

head {
    text-align: center;
}

body {
    background-color: black;
    text-align: center;
}